.home {
  height: auto;
  text-align: center;

  h1 {
    z-index: 14;
    color: #000;
    margin: 5rem 0 3rem;
    position: relative;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    word-spacing: 1rem;
  }

  p {
    z-index: 14;
    color: #000;
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-style: italic;
  }
}
