#button {
  border: none;
  border-radius: 1.2vw;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #bfb3a6;
  margin: 1rem;

  &:hover {
    color: #bfb3a6;
    background: #fff;
  }

  &:focus {
    border-color: #bfb3a6;
  }
}
