.categoryDetail {
  height: 100vh;

  .title-category {
    margin: 3rem 0 0;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(30, 16%, 70%);
    font-size: 2.5rem;
  }

  .categoryDetail {
    margin-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}
