.carousel-home {
  height: 90vh;
  padding: 0;
  z-index: 25;

  .carousel-inner {
    height: 100%;

    .imagen {
      height: 100%;
      overflow: hidden;
      cursor: pointer;

      img {
        height: 100%;
      }
    }
  }

  .carousel-indicators {
    background-color: #fff;
    line-height: 30px;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: -30px;

    li {
      background-color: hsl(30, 16%, 70%);
      width: 10px;
      height: 10px;
      margin: 10px;
      border: none;
      border-radius: 10px;
    }
  }
}
