#footer {
  background-color: hsl(30, 16%, 70%);
  position: relative;

  .subscription {
    text-align: center;
    padding: 1rem 0 0;

    h5 {
      margin: 1rem;
      display: inline-block;
      color: #fff;
      font-weight: 700;
    }

    .subs-email {
      display: inline-block;
      width: 25%;

      .input-icon {
        background: #fff;
        display: flex;
        color: #bfb3a7;
        padding: 0.3rem;

        .input {
          color: #bfb3a7;
          border: none;
          background: none;
          box-shadow: none;
          outline: none;
          padding: 0 1rem;
          font-size: 0.8rem;

          &:focus {
            border: none;
          }
        }

        .icon-email {
          color: #000;
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }

  hr {
    margin: 0 6rem;
    visibility: visible;
    border-bottom: 1px solid #fff;
  }

  .menu-footer {
    padding: 2rem 5rem 0;

    .enlaces-utiles {
      display: block;
      padding-bottom: 1rem;

      h5 {
        color: #fff;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      .h5-hr {
        margin: 0 12rem 0 0;
        visibility: visible;
        border-bottom: 1px solid #fff;
      }

      ul {
        list-style: none;
        margin-top: 0.5rem;

        li {
          margin: 0.4rem;
          display: list-item;

          a {
            color: #fff;
            font-size: 1rem;
          }
        }
      }
    }

    .contactenos {
      display: block;
      padding-bottom: 1rem;

      h5 {
        color: #fff;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      .h5-hr {
        margin: 0 12rem 0 0;
        visibility: visible;
        border-bottom: 1px solid #fff;
      }

      .icon-text {
        height: auto;
        overflow: hidden;
        margin-top: 0.5rem;

        .icon-ubi {
          font-size: 1rem;
          color: #fff;
          margin-right: 0.3rem;

          &:hover {
            color: red;
          }
        }

        .data {
          overflow: hidden;
          vertical-align: middle;
          display: inline-block;
          color: #fff;
        }

        .icon-cel {
          font-size: 1rem;
          color: #fff;
          margin-right: 0.3rem;

          &:hover {
            color: #25d366;
          }
        }

        .icon-mail {
          font-size: 1rem;
          color: #fff;
          margin-right: 0.3rem;

          &:hover {
            color: #3f3f3f;
          }
        }
      }
    }
  }

  .copyright {
    color: #353535;
    margin: 1.5rem 0;

    .copy {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: #fff;
        font-size: 0.9rem;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-inst {
        font-size: 1.3rem;
        color: hsla(342, 93%, 62%, 0.705);
        padding: 1rem;

        &:hover {
          color: hsla(342, 93%, 62%, 0.5);
        }
      }

      .icon-face {
        font-size: 1.3rem;
        color: hsl(213, 89%, 52%);
        padding: 1rem;

        &:hover {
          color: hsla(213, 89%, 52%, 0.705);
        }
      }
    }
  }

  .created {
    color: #353535;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1rem auto;

    p {
      color: #fff;
      font-size: 0.8rem;
      padding-right: 0.5rem;
      margin: auto 0 auto 0;

      a {
        color: hsl(188, 78%, 41%);
        font-style: italic;
        text-decoration: none;

        &:hover {
          color: hsl(188, 72%, 52%);
        }
      }
    }

    .icon-github {
      font-size: 1.3rem;
      color: #30363d;

      &:hover {
        color: #8b949e;
      }
    }
  }
}
